<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<footer class="footer mt-auto py-3" th:fragment="footer">
	  <div class="container text-right">
	    <span class="text-muted">
	    	<a href="#" th:href="@{__${#httpServletRequest.requestURI}__?lang=tr}"
	    		th:text="#{lang.tr}">Türkçe</a>|
	    	<a href="#" th:href="@{__${#httpServletRequest.requestURI}__?lang=en}"
	    		th:text="#{lang.en}">İngilizce</a>
	    </span>
	  </div>
	</footer>
</body>
</html>