<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	class="h-100">
<head th:include="fragments/headFragment :: head"></head>
<body class="d-flex flex-column h-100">
	<header th:replace="fragments/topMenuFragment :: topMenu"></header>
	
	<!-- Begin page content -->
	<main role="main" class="flex-shrink-0">
	  <div class="container">
	    
	    <div class="mt-4 mb-2 row justify-content-between">
	    	<div class="col-sm-3 text-left">
	    		<h4 th:text="#{addStaff.content.title}">Personel Kayıt</h4>
	    	</div>
	    	<div class="col-sm-3 text-right">
	    	</div>
	    </div>
	    <form action="#" th:object="${staff}" th:action="@{/addStaff}" method="post">
		    	<div class="form-row">
		    		<div class="col-md-6 mb-3">
		    			<label for="firstName" th:text="#{addStaff.content.input.label.firstName}">Ad</label>
		    			<input type="text" class="form-control" id="firstName" placeholder="Ad"
		    					th:placeholder="#{addStaff.content.input.label.firstName}" 
		    					th:field="*{firstName}" th:errorclass="is-invalid">
		    			<div class="invalid-feedback" th:errors="*{firstName}">
        					Ad boş olmamalı
      					</div>
		    		</div>
		    		<div class="col-md-6 mb-3">
		    			<label for="lastName" th:text="#{addStaff.content.input.label.lastName}">Soyad</label>
		    			<input type="text" class="form-control" id="lastName" placeholder="Soyad"
		    					th:placeholder="#{addStaff.content.input.label.lastName}" 
		    					th:field="*{lastName}" th:errorclass="is-invalid">
		    			<div class="invalid-feedback" th:errors="*{lastName}">
        					Soyad boş olmamalı
      					</div>
		    		</div>
		    	</div>
		    	<div class="form-row">
		    		<div class="col-md-6 mb-3">
		    			<label for="phone" th:text="#{addStaff.content.input.label.phone}">Telefon</label>
		    			<input type="text" class="form-control" id="phone" placeholder="Telefon" 
		    					th:placeholder="#{addStaff.content.input.label.phone}"
		    					th:field="*{phone}" th:errorclass="is-invalid">
		    			<div class="invalid-feedback" th:errors="*{phone}">
        					Telefon boş olmamalı
      					</div>
		    		</div>
		    		<div class="col-md-6 mb-3">
		    			<label for="email" th:text="#{addStaff.content.input.label.email}">E-mail</label>
		    			<input type="text" class="form-control" id="email" placeholder="E-mail"
		    					th:placeholder="#{addStaff.content.input.label.email}" 
		    					th:field="*{email}" th:errorclass="is-invalid">
		    			<div class="invalid-feedback" th:errors="*{email}">
        					Geçerli bir e-mail adresi girilmeli.
      					</div>
		    		</div>
		    	</div>
		    	<button class="btn btn-dark" type="submit" th:text="#{addStaff.content.btn.addStaff}">Personel Ekle</button>
		    </form>
	    
	  </div>
	</main>
	
	<footer th:replace="fragments/footerFragment :: footer"></footer>
	
	<th:block th:include="fragments/scriptsFragment :: scripts" />
</body>
</html>