<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	class="h-100">
<head th:include="fragments/headFragment :: head"></head>
<body class="d-flex flex-column h-100">
	<header th:replace="fragments/topMenuFragment :: topMenu"></header>
	
	<!-- Begin page content -->
	<main role="main" class="flex-shrink-0">
	  <div class="container">
	    
	    <div class="row mb-0 mt-1" th:hidden="${msg == null}">
	    	<div class="col-sm-12">
		    	<div class="alert alert-dismissible fade show block" role="alert" 
		    				 th:classappend="alert- + ${warningType} ">
		    		<strong th:text="${msg}"></strong>	
		    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    				<span aria-hidden="true">&times;</span>
	  				</button>
		    	</div>
	    	</div>
	    </div>
	    <div class="row mt-3 mb-2" th:hidden="true">
	    	<div class="col-sm-12">
	    		<h4>Personel Listesi</h4>
	    	</div>
	    </div> 
	    <div class="row mt-3 mb-2 justify-content-between">
	    	<div class="col-sm-3 text-left">
	    		<h4>Personel Listesi</h4>
	    		<!-- 
				<a class="btn btn-dark" role="button" href="/addStaff" th:href="@{/addStaff}">Personel Ekle</a>
				 -->
	    	</div>
	    	<div class="col-sm-6 text-right">
    			<form class="form-inline float-sm-right" action="#"
    					th:object="${searchForm}" th:action="@{/search}" th:method="post">
			      	<select class="form-control mr-1" id="exampleFormControlSelect1"
			      		th:field="*{searchType}">
			      		<option th:each="searchType : ${searchTypes}" 
			      				th:text="${searchType.displayName}"
			      				th:value="${searchType}">
				    </select>
			        <input class="form-control mr-sm-1" type="text" placeholder="Ara" aria-label="Search"
			        		th:field="*{keyword}">
			        <button class="btn btn-dark my-2 my-sm-0" type="submit">Ara</button>
				</form>  
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-sm-12">
	    	
			    <table class="table">
			    	<thead class="table-dark">
			    		<tr>
			    			<th scope="col">No</th>
				    		<th scope="col">Ad</th>
				    		<th scope="col">Soyad</th>
				    		<th scope="col">Telefon</th>
				    		<th scope="col">E-mail</th>
				    		<th scope="col">Kayıt Zamanı</th>
				    		<th scope="col" style="width: 165px;">İşlemler</th>
			    		</tr>
			    	</thead> 
			    	<tbody>
			    		<tr th:if="${staffList == null}">
			    			<td colspan="5">Personel Bulunamadı</td>
			    		</tr>
			    		<tr th:each="staff : ${staffList}">
			    			<th scope="row" th:text="${staff.id}"></th>
			    			<td th:text="${staff.firstName}"></td>
			    			<td th:text="${staff.lastName}"></td>
			    			<td th:text="${staff.phone}"></td>
			    			<td th:text="${staff.email}"></td>
			    			<td th:text="${#dates.format(staff.createDate, 'dd.MM.yyy HH:mm:ss')}"></td>
			    			<td>
			    				<a role="button" class="btn btn-dark" href="#" th:href="@{/updateStaff/{id}(id=${staff.id})}">Güncelle</a>
			    				<a role="button" class="btn btn-dark btnDeleteStaff" href="#"
			    					th:attr="data-id=${staff.id},data-firstname=${staff.firstName},data-lastname=${staff.lastName}">Sil</a>
			    			</td>
			    		</tr>
			    	</tbody>
			    </table>
	    	</div>	
	    </div>
	  </div>
	  
	  <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="deleteConfirmModalLabel">Onay</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p id="warningMessage"></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
		        <a id="deleteButton" href="#" role="button" class="btn btn-danger">Evet</a>
		      </div>
		    </div>
		  </div>
		</div>
	</main>
	
	<footer th:replace="fragments/footerFragment :: footer"></footer>
	
	<th:block th:include="fragments/scriptsFragment :: scripts" />
	
	<script th:inline="javascript">
		$('.btnDeleteStaff').click(function(e) {
			e.preventDefault();
			var staffId = $(this).data("id");
			var firstName = $(this).data("firstname");
			var lastName = $(this).data("lastname");
			var staffName = "" + staffId + "-" + firstName + " " + lastName;
			$("#warningMessage").html("<b>" + staffName + "</b> ile ilgili bilgileri veritabanından silmek istiyor musunuz?")
			var baseUrl = /*[[@{/}]]*/ '';
			var pageUrl = 'deleteStaff/' + staffId;
			var deleteUrl = baseUrl+ pageUrl;
			$("#deleteButton").attr('href', deleteUrl)
			$("#deleteConfirmModal").modal("show");
		});
	</script>
</body>
</html>